.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/public/websitebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.save{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #07591b;
}
.save:hover{
    background-color: #053810;
}
.success-message {
    transition: opacity 0.3s ease-in-out;
    color: #097F26;
    font-weight: bold;
}
.fade-out {
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
.profileh1{
    background-color: #f4f4f4;
    position: fixed;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #3d7710;
    margin-top: 70px;
    top: 0;
}
img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: #f4f4f4 solid 2px;
    border-radius: 10px;
}
.dropDownMenu{
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    color: #333;
    width: 250px;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    margin-top: 120px;
    width: 300px;
}
.input-container button{
    width: 200px;
    height: 30px;
}
.input-container input{
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    color: #333;
    width: 250px;
}
input:hover, input:focus {
    border-color: #097F26;
}
.input-container h2{
    color: #3d7710;
}
table{
    width: 100%;
}

.navigation-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    padding: 2px;
    background-color: #2c2f2c;
    z-index: 1;
}

.szilny{
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 20px;
    color: white;
    font-weight: bold;
}
.navigation-bar button{
    margin-right: 10px;
}
.clubbutton, .profilbutton{
    max-width: 100px;
    max-height: 30px;
    background-color: #747976;
}
.playersbutton{
    max-width: 200px;
    max-height: 30px;
    background-color: #747976;
}
.playersbutton:hover, .clubbutton:hover, .profilbutton:hover{
    background-color: #404240;
}
.logOut{
    max-width: 100px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #e06565;
}
.logOut:hover{
    background-color: #de3030;
}