.jatekos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/public/websitebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.search-bar{
    width: 400px;
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
}
.no-result{
    color: #3d7710;
    font-weight: bold;
}
.jatekos-list {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}
.jatekos-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}
.jatekos-card h2 {
    margin-top: 10px;
}
.jatekos-card p{
    margin-top: 10px;
}
.jatekos-card button{
    margin-top: 10px;
    text-align: center;
    width: 150px;
    height: 30px;
}
.jatekos-card-profilkep{
    width: 200px;
    height: 200px;
}
