.editPlayer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/public/websitebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.editprofilkep{
    margin-top: 60px;
    width: 200px;
    height: 200px;
}
.adatok-header{
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #097F26;

}
.edit-input-container{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.edit-input-container input{
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    color: #333;
    width: 250px;
}
.edit-input-container button{
    width: 100px;
    height: 30px;
}



